.TapMenu {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 1.6em;
  background: url('/images/chalkboard.jpg');
  color: var(--midGrey);
}

.TapMenu h2 {
  font-size: 2em;
}

.TapMenu .BackgroundImage {
  background-repeat: repeat-y;
}

@media screen and (max-width: 750px) {
  .TapMenu {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
}

.TapMenu--Item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 3rem;
  width: 50%
} 

@media screen and (max-width: 750px) {
  .TapMenu--Item {
    width: 100%;
  }
}

.TapMenu--Item > div {
  position: relative;
}

.TapMenu--Item--Title {
  color: whitesmoke
}

.TapMenu--Item--Price {
  color: whitesmoke
}

.TapMenu--Footer {
  text-align: center;
  width: 100%;
}