.TapMenu {
  background: url('/images/chalkboard.jpg');
  background-repeat: repeat;
  background-attachment:fixed;
  padding: 3rem;
  color: var(--midGrey);
  font-size: 1.5em;
  min-height: 100vh;
}

@media screen and (max-width: 750px) {
  .TapMenu {
    font-size: 1.2em;
  }
}

.TapMenu a {
  text-decoration: none;
}

.TapMenu--Item > div {
  position: relative;
}

.TapMenu--Item--Title {
  color: whitesmoke
}

.TapMenu--Item--Price {
  color: whitesmoke
}

.TapMenu--Footer {
  text-align: center;
  width: 100%;
}

.scroll-left {
  height: 50px; 
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.scroll-left div {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%); 
  transform:translateX(100%);
  /* Apply animation to this element */ 
  -moz-animation: scroll-left 30s linear infinite;
  -webkit-animation: scroll-left 30s linear infinite;
  animation: scroll-left 30s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
  0% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
  }
  100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
  }
}