.TapMenu {
  background: url('/images/chalkboard.jpg');
  background-repeat: repeat;
  background-attachment:fixed;
  padding: 3rem;
  color: var(--midGrey);
  font-size: 1.5em;
  min-height: 100vh;
}

@media screen and (max-width: 750px) {
  .TapMenu {
    font-size: 1.2em;
  }
}

.TapMenu--Item > div {
  position: relative;
}

.TapMenu--Item--Title {
  color: whitesmoke
}

.TapMenu--Item--Price {
  color: whitesmoke
}

.TapMenu--Footer {
  text-align: center;
  width: 100%;
}